{% extends 'base.html.twig' %}

{% block body %}
   <div class="logo">
        <a href="{{ path('home') }}">
            <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/1/1c/ManoMano_2018.png" alt="Logo de ManoMano">
        </a>
    </div>

<div class="contenant-home">

    <div class="conteneur-home-texte">



        <div class="textes-home">
            <h1 class="titre-home">Faites les bons choix et trouvez les produits qui vous conviennent </h1>
                <h3>Rénovation de la cuisine, bricolage dans le jardin, aménagement d'une chambre ...</h3>
        </div>
    </div>

    <div class="conteneur-maison">
        <a href="https://google.com"><div id="btn-bureau"></div></a>
        <a href="https://google.com"><div id="btn-chambre"></div></a>
        <a href="https://google.com"><div id="btn-chambre2"></div></a>
        <a href="https://google.com"><div id="btn-sdb"></div></a>
        <a href="https://google.com"><div id="btn-salon"></div></a>
        <a href="https://google.com"><div id="btn-cuisine"></div></a>
        <a href="https://google.com"><div id="btn-buanderie"></div></a>

    <img usemap="#maison" id="maison-home" class="maison-home" src="https://images-ext-1.discordapp.net/external/kj_3ZZ4oM2JYhdYAzVGtLk6eB8xAAMEvl5NOHIbjCMs/https/fac.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FFAC.2Fvar.2Ffemmeactuelle.2Fstorage.2Fimages.2Fdeco.2Fmaison-pratique.2Fconseils-aeration-maison-piece-par-piece-33684.2F14281426-3-fre-FR.2Fnos-conseils-pour-l-aeration-de-la-maison-piece-par-piece.2Ejpg/850x478/quality/90/crop-from/center/nos-conseils-pour-l-aeration-de-la-maison-piece-par-piece.jpeg" alt="Maison">

        <map name="maison" id="maison">

            {# Bureau #}
            <area
                shape="rect"
                coords="212,168,371,261"
                href="{{ path('piece_bureau') }}"
                target="_self"
                rel="nofollow noreferrer noopener"
                title="Entrer dans le bureau "
            />

            {# Chambre 1 #}
            <area
                shape="rect"
                coords="380,169,538,263"
                href="{{ path('piece_chambre1') }}"
                target="_self"
                rel="nofollow noreferrer noopener"
                title="Entrer dans la chambre 1 "
            />

            {# Chambre 2 #}
            <area
                shape="rect"
                coords="212,267,372,360"
                href="{{ path('piece_chambre2') }}"
                target="_self"
                rel="nofollow noreferrer noopener"
                title="Entrer dans la chambre 2 "
            />

            {# Salle de bain #}
            <area
                shape="rect"
                coords="382,267,538,358"
                href="{{ path('piece_salle_de_bain') }}"
                target="_self"
                rel="nofollow noreferrer noopener"
                title="Entrer dans la salle de bain "
            />

            {# Buanderie #}
            <area
                shape="rect"
                coords="566,269,708,359"
                href="{{ path('piece_buanderie') }}"
                target="_self"
                rel="nofollow noreferrer noopener"
                title="Entrer dans la buanderie "
            />

            {# Terasse #}
            <area
                shape="rect"
                coords="124,383,204,473"
                href="{{ path('piece_terasse') }}"
                target="_self"
                rel="nofollow noreferrer noopener"
                title="Aller à la terasse "
            />

            {# Salon #}
            <area
                shape="rect"
                coords="212,365,370,457"
                href="{{ path('piece_salon') }}"
                target="_self"
                rel="nofollow noreferrer noopener"
                title="Entrer dans le salon "
            />

            {# Cuisine #}
            <area
                shape="rect"
                coords="382,367,540,457"
                href="{{ path('piece_cuisine') }}"
                target="_self"
                rel="nofollow noreferrer noopener"
                title="Entrer dans la cuisine "
            />

            {# Garage #}
            <area
                shape="rect"
                coords="567,364,745,457"
                href="{{ path('piece_garage') }}"
                target="_self"
                rel="nofollow noreferrer noopener"
                title="Entrer dans le garage "
            />

        </map>

         <h3 class="btn-home">Quelles pièces souhaitez-vous rénover ? *</h3>
            <p class="asterisque">*Cliquez sur la pièce correspondante</p>
    </div>
</div>

{% endblock %}