{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}

    <div class="searchbar">
        {{ form_start(form) }}
        {{ form_widget(form.search) }}
        {{ form_help(form.search) }}
        {{ form_errors(form.search) }}
        <button id="search" class="btn-primary"><i class="fas fa-search"></i></button>
        {{ form_end(form) }}
    </div>


    <h1>Salle de bain - Les {{ categorie.nom }}</h1>

        <div class="tags">
            <div class="btnTags" value="Matériaux">
                <a href="">Matériaux</a>
            </div>

            <div class="btnTags" value="Outils">
                <a href="">Outils</a>
            </div>

            <div class="btnTags" value="Aménagement">
                <a href="">Aménagement</a>
            </div>
        </div>

        <div class="contenant">

            <div class="left">
                <h3>Bloc Filtres</h3>
                    <div class="">

                    </div>

                    <div class="">

                    </div>

                    <div class="">

                    </div>
            </div>

            <div class="souscategories">

                {% for sc in categorie.sousCategorie %}

                    <div class="sousCategorie"><h3>{{ sc.nom }}</h3></div>
                        <div class="produits">
                            {% for produit in sc.produit|slice (1, 5) %}
                                <div class="produit">{{ produit.nom }}</div>
                            {% endfor %}
                        </div>


                    {% for produit in produits %}
                        <div class="produit">{{ produit.nom }}</div>

                    {% endfor %}

            </div>

            <div class="right">
                <h3>Bloc Conseil</h3>
                    <div class="">

                    </div>

                    <div class="">

                    </div>

                    <div class="">

                    </div>
            </div>
        </div>
    </div>


    <center>
        <div class="btn">
            <a href="{{ path('categorie_index') }}">Retour</a>
        </div>
    </center>

{% endblock %}
