{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Salle de bain - Les {{ categorie.nom }}</h1>

    {# <div class="searchbar">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button>Search</button>
        {{ form_end(form) }}
    </div> #}

    <div class="contenant">
        <div class="souscategories">

            {% for sc in categorie.sousCategorie %}

                <div class="sousCategorie"><h3>{{ sc.nom }}</h3></div>

                    {% for produit in sc.produit %}
                        <div class="produit">{{ produit.nom }}</div>
                    {% endfor %}

                {% endfor %}
        </div>
    </div>

    <div class="btn">
        <a href="{{ path('categorie_index') }}">Retour</a>
    </div>
{% endblock %}
