{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <div class="searchbar">
        {{ form_start(form) }}
        {{ form_widget(form.search) }}
        {{ form_help(form.search) }}
        {{ form_errors(form.search) }}
        <button id="search" class="btn-primary"><i class="fas fa-search"></i></button>
        {{ form_end(form) }}
    </div>

    <h1>Salle de bain - Les {{ categorie.nom }}</h1>

    <div class="contenant">
        <div class="souscategories">

            {% for sc in categorie.sousCategorie %}

                <div class="sousCategorie"><h3>{{ sc.nom }}</h3></div>

                    {% for produit in produits %}
                        <div class="produit">{{ produit.nom }}</div>
                    {% endfor %}

                {% endfor %}
        </div>
    </div>

    <div class="btn">
        <a href="{{ path('categorie_index') }}">Retour</a>
    </div>
{% endblock %}
